@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background: #E0DFD5;
    font-family: "Open Sans", sans-serif;
    color: #E0DFD5
}

main{
    display: grid;
    margin: 0px;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 100vh;
    grid-template-areas:
    "tutorials hw";
}

.tutorials{
    grid-area: tutorials
}

.homework{
    grid-area: hw
}

header, .tutorials, .homework, .inspiration {
    padding: 5px;
    color: #F06543;
}

h1{
    font-size: 3em;
}

.tutorials h2 {
    font-size: 2em;
    text-align: center;
}

.homework h2 {
    font-size: 2em;
    text-align: center;
}

h3, p, a{
    font-family: "Lato", sans-serif
}

a {
    color: #E0DFD5
}

.header{
    background-image: url("city.jpeg");
    padding-left: 20px
}

.fa-laptop-code {
    color: #313638
}

.folders{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    margin-top: -40px;
}

.folder{
    padding: 10px;
    width: 40%;
    margin: 20px;
    text-align: center;
    background: #F09D51;
    border-radius: 4px;
    color: #E0DFD5 
}

.folder:hover{
    background: #313638;
    color: #F09D51
}

a:hover{
    color: #F09D51 
}

.fa-folder{
    color: #E0DFD5;
    font-size: 5em;
}

.fa-folder:hover{
    color: #F09D51
}

.inspiration {
    background-image: url("city.jpeg");
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.inspo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.link1, .link2, .link3, .link4, .link5 {
    width: 18%;
    height: 100px;
    align-items: center;
    margin-bottom: 1em;
    margin-right: 1em;
    background: #F09D51;
    padding-top: 40px;
    text-align: center;
    text-decoration: none;
    font: 1em "Lato", sans-serif;
    letter-spacing: 1px;
    color: #E8E9EB;
    text-transform: uppercase;
    border-radius: 4px;
}

.link1:hover{
    background: #313638;
    color: #F09D51
}

.link2:hover{
    background: #313638;
    color: #F09D51
}

.link3:hover{
    background: #313638;
    color: #F09D51
}

.link4:hover{
    background: #313638;
    color: #F09D51
}

.link5:hover{
    background: #313638;
    color: #F09D51
}
